[mysqld]
bind-address=*
skip_name_resolve
datadir=/var/lib/mysql
sql-mode=STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

console=1
general_log=1
general_log_file=/var/log/mysql/general-query.log
log_error=/var/log/mysql/error.log

character-set-server = utf8
character_set_filesystem=utf8
collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
init_connect='SET collation_connection = utf8_general_ci'
skip-character-set-client-handshake

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8